    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: #f3dcdcb0;
        font-family: 'Segoe UI';
    }
    
    #contenedorprincipal {
        width: 90%;
        height: 90%;
        overflow: hidden;
        margin: 50px auto;
        padding: 10px;
    }
    
    .cont {
        widows: 50%;
        text-align: center;
    }
    
    .cont-login,
    .form-registro {
        width: 250px;
        margin: 10px auto;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        padding: 40px 50px;
    }
    
    .logo {
        border: 0px solid #000;
        margin-bottom: 20px;
    }
    
    .logo img {
        height: 50px;
        width: 175px;
        margin: auto;
        position: relative;
        left: 15px;
    }
    
    .input {
        width: 100%;
        margin-bottom: 5px;
        padding: 8px 12px;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        border-radius: 3px;
    }
    
    .cont-fb {
        top: 20px;
        position: relative;
    }
    
    .cont-fb img {
        width: 18px;
        height: 18px;
    }
    
    .cont-fb a {
        margin-left: 5px;
        text-decoration: none;
        color: #0080c0;
        font: bold 12px verdana;
    }
    
    .cont-contraseña {
        position: relative;
    }
    
    .olv-cont a {
        position: relative;
        top: 32px;
        right: 10px;
        color: #003569;
        font-size: 12px;
        text-decoration: none;
        font-family: 'Segoe UI', monospace;
        font-weight: 400;
    }
    
    .boton {
        width: 100%;
        background-color: #4ea4f1;
        border: 1px solid #4ea4f1;
        padding: 5px 12px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        border-radius: 3px;
    }
    
    .boton:focus {
        background-color: #c4e0fb;
    }
    
    center {
        margin: 15px;
    }
    
    .cont-registro,
    .cont-log {
        width: 250px;
        margin: 10px auto;
        border: 1px solid #e6e6e6;
        padding: 35px 50px;
        background-color: #fff;
        text-align: center;
        font-family: 'Segoe UI', monospace;
        font-weight: 400;
        color: #333;
    }
    
    .cont-registro a,
    .cont-log a {
        text-decoration: none;
        cursor: pointer;
        color: #3897f0;
        font-family: 'Segoe UI', monospace;
        font-weight: 400;
    }
    /* --------------------- Cabecera de Pagina -------------------*/
    
    .P-cabeza {
        right: 0px;
        width: 100%;
        height: 79px;
        border-bottom: 1px solid #E6E6E6;
        position: relative;
        background-color: #FFF;
    }
    
    .P-logo {
        position: absolute;
        top: 30%;
        left: 0px;
        height: 70%;
        width: 15%;
        text-align: center;
    }
    
    .P-buscador {
        position: absolute;
        top: 30%;
        left: 25%;
        height: 90%;
        width: 25%;
        text-align: center;
    }
    
    .buscador {
        padding: 6px 40px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border: 1px solid #DBDBDB;
    }
    
    .P-cuenta {
        position: absolute;
        top: 30%;
        left: 60%;
        height: 90%;
        width: 40%;
    }
    
    .P-cuenta a {
        text-decoration: none;
    }
    
    .i-icono {
        padding: 0px 10px;
        width: 20px;
        height: 25px;
    }
    /* ---------------Pagina principal------------------ */
    
    .P-p-cont {
        padding: 20px;
        height: 2000px;
        width: 100%;
        margin: auto;
        margin-top: 70px;
    }
    
    .P-cont-izq {
        background: white;
        border: 1px solid rgba(255, 255, 255, 0.788);
        display: inline-block;
        width: 50%;
        float: left;
        margin-right: 20%;
        margin-right: 5px;
    }
    
    .P-cont {
        width: 100%;
        margin-bottom: 60px;
        float: left;
        border: 1px solid #E6E6E6;
    }
    
    .Pa-top {
        width: 100%;
        height: 60px;
    }
    
    .Paa-perfil {
        width: 10%;
        height: 60px;
        float: left;
        position: relative;
    }
    
    .Pa-foto {
        width: 100%;
        position: absolute;
        top: 12%;
        left: 3%;
    }
    
    .Pa-foto img {
        border: 2px solid white;
        border-radius: 50%;
        width: 40x;
        height: 40px;
    }
    
    .Pab-usuario {
        width: 70%;
        height: 60px;
        float: left;
        position: relative;
    }
    
    .Pab-nombre {
        width: 100%;
        height: 30px;
        float: left;
        color: #262626;
        position: absolute;
        top: 25%;
        left: 10px;
        font-weight: 600;
    }
    
    .Pab-nombre a:link {
        text-decoration: none;
        color: #262626;
        font-weight: 600;
    }
    
    .Pab-nombre a:visited {
        text-decoration: none;
        color: #262626;
        font-weight: 600;
    }
    
    .c-eliminar {
        float: right;
        width: 10%;
        position: absolute;
        left: 45%;
        margin-top: 15px;
    }
    
    .Beliminar {
        width: 45%;
        height: 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: white;
        color: rgb(228, 203, 203);
        cursor: pointer;
        font-size: 10px;
        border: solid 1px rgba(112, 128, 144, 0.281)
    }
    
    .Beliminar:hover {
        background-color: #f3dcdcb0;
        color: black;
    }
    
    .Pa-menu {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }
    
    .Pa-icono {
        width: 33.3%;
        float: left;
    }
    
    .Pb-middle {
        width: 100%;
    }
    
    .Pd-bottom {
        width: 100%;
        height: 30px;
        padding: 10px;
    }
    
    .Pc-likes {
        width: 100%;
        height: 44px;
    }
    
    .Pc-likes img {
        padding: 10px;
    }
    
    .P-cont-der {
        background: white;
        border: 1px solid rgba(255, 255, 255, 0.788);
        width: 30%;
        height: 300px;
        padding: 10px;
        margin-right: 40px;
        float: right;
        display: inline-block;
    }
    
    .Pb-top {
        width: 90%;
        height: 100px;
    }
    
    .Pb-perfil {
        width: 30%;
        height: 100px;
        float: left;
        position: relative;
    }
    
    .Pb-foto {
        width: 100%;
        position: absolute;
        top: 12%;
        left: 10%;
    }
    
    .Pb-foto img {
        border: 2px solid white;
        border-radius: 50%;
    }
    
    .Pb-usuario {
        width: 70%;
        height: 100px;
        float: left;
        position: relative;
        left: 5%;
    }
    
    .Pb-nombre {
        width: 100%;
        height: 50px;
        float: left;
        color: #262626;
        position: absolute;
        top: 10%;
        font-weight: 600;
    }
    
    .Pb-nombre a:link {
        text-decoration: none;
        color: #262626;
        font-weight: 600;
    }
    
    .Pb-nombre a:visited {
        text-decoration: none;
        color: #262626;
        font-weight: 600;
    }
    
    .Pba-nombre {
        width: 100%;
        height: 50px;
        float: left;
        font-family: 'Segoe UI';
        font-weight: 400;
        color: #999999;
        position: absolute;
        top: 35%;
        font-size: 12px;
    }
    /* --------------------Subir foto------------------------------------ */
    
    .myButton {
        background-color: #3e3ed6;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 15px 41px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2768b8;
        border: 0px;
        margin-bottom: 10px;
    }
    
    .myButton:hover {
        background-color: #1e32b8;
    }
    
    .myButton:active {
        position: relative;
        top: 1px;
    }
    
    .image-upload>input {
        display: none;
    }
    
    .image-upload img {
        cursor: pointer;
    }
    
    .imgcheck {
        position: relative;
        display: inline-block;
    }
    
    .imgcheck label>input {
        /* HIDE RADIO */
        visibility: hidden;
        /* Makes input not-clickable */
        position: absolute;
        /* Remove input from document flow */
    }
    
    .imgcheck label>input+img {
        /* IMAGE STYLES */
        cursor: pointer;
        border: 2px solid transparent;
    }
    
    .imgcheck label>input:checked+img {
        /* (RADIO CHECKED) IMAGE STYLES */
        border: 2px solid #f00;
    }